/*
Filename:  style.css

Author:  Johnathon McDonnell-Parker

Created:  13/3/16 		Last Modified: 

Description:  Provides a style format for the following html pages:
jobs.html, index.html, apply.html, about.html
*/

/* =============================== */
/* MAIN */
body 
{
	background-color: #2e2e1f;
}

h1 
{
    color: #ffffff;
	text-align:left;
}

h2,h3
{
	color: #3399ff;
}

h4
{
	color: #000000;
	font-size: 12px;
}

p 
{
	color: #000000;
}

section 
{
    display: block;
} 

aside
{
	color: #3399ff;
}

table, th, td 
{
   text-align:center;
   border: 1px solid black;
} 

tr
{
	color: #ffffff;
	 background-color: #003333;
}

#a_breadcrumb
{
	color: #0066cc;
	text-decoration: underline;
	font-weight: bold;
}

/* =============================== */
/*Aligns input labels in the apply form*/  
label
{
    display: inline-block;
    float: left;
    clear: left;
    width: 180px;
}

input
 {
  display: inline-block;
}

/* =============================== */
/*LEFT aligned typography*/
#p_left
{
	color: #000000;
	text-align:left;
	font-size: 150%;
	font-weight: bold;
}

#p_left_fontchange
{
	color: #000000;
	font-family: "Courier New", Monospace;
}

#p_hex
{
	color: #009900;
}

#p_left_blue
{
	color: #3399ff;
	text-align:left;
}

a.left_hyper
{
	color: #ff1a1a;
	text-align:left;
	text-decoration: underline;
}



/* =============================== */
/*RIGHT aligned typography*/
#p_right
{
	color: #000000;
	text-align:right;
}

#p_right_pad
{
	color: #000000;
	float:right;
	padding:40px;
}

#p_right_border
{
	color: #000000;
	float:right;
	border-style: double;
	padding:40px;
}

/* =============================== */
/*CENTER aligned typography*/
#p_border
{
	color: #3399ff;
    text-align:center;
	border-style: solid;
}

#p_center
{
	color: #3399ff;
    text-align:center;
	
}

#section_border
{
	color: #3399ff;
    text-align:center;
	border-style: solid;
}

#p_center_hyper
{
	color: #ff1a1a;
	text-align:center;
	text-decoration: underline;
}

/* =============================== */
/* NAVIGATION */
#nav 
{
	text-align:center;
}

#nav li 
{
	display:inline;
}

#nav a
{
	color: #3399ff;
	text-decoration:none; 
	padding:0 30px;
}


/* =============================== */
/* IMAGE class*/
img.shown
 {
   max-width: 100%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#img_size
{
	height: 200px;
	width: 200px;
}